body {
    margin: auto auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #911E42;
    font-family: Montserrat, sans-serif;
    font-size: x-large;
}

ul {
    list-style:armenian;
    margin: 25% 0px 0px 0px;
}

li {
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
    color: #F5F5DC;
}