doctype html
html(lang="en")
  head
    title='Choose your fighter!'
    style 
      include ./index.css
  body
    ul
      li
        a.link(href='./ui_kit/colorsandtype/colorsandtype.html') Colors and type
      li
        a.link(href='./ui_kit/headersandfooters/headersandfooters.html') Headers and footers 
      li
        a.link(href='./ui_kit/formelements/formelements.html') Forms and elements