@font-face {
	font-family: 'Montserrat';
	src: url('../colorsandtype/fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../colorsandtype/fonts/Montserrat-Bold.woff') format('woff'), url('../colorsandtype/fonts/Montserrat-Bold.ttf') format('truetype'), url('../colorsandtype/fonts/Montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../colorsandtype/fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../colorsandtype/fonts/Montserrat-Regular.woff') format('woff'), url('../colorsandtype/fonts/Montserrat-Regular.ttf') format('truetype'), url('../colorsandtype/fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
    display: flex;
    margin: 0px auto;
    max-width: 1440px;
}

.circle {
    width: 42px;
    height: 42px;
    margin-left: 30px;
    margin-top: 30px; 
}

.input {
    width: 320px;
    height: 44px;
    background: transparent;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.5);
    &_focus {
        border: 1px solid rgba(31, 32, 65, 0.5);
    }
    &_text {
        color: rgba(31, 32, 65, 0.75);
    }
    &_little {
        width: 150px;
    }
    &_medium {
        width: 266px;
    }
    &_halfborder {
        border-radius: 4px 4px 0px 0px;
    }
}

.column {
    display: flex;
    flex-direction: column;
    margin-top: 122.5px;
}

.text-default {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
}

.text-bold {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

.text-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: -8px;
    &_medium {
        max-width: 266px;
    }
}

.block {
    margin-left: 63px;
    margin-top: 20.5px;
    &_last {
        margin-bottom: 100px;
    }
}

.arrow-position {
    margin-top: 14px;
    margin-left: -35px;
}

.arrow2-position {
    margin-top: 13px;
    margin-left: -36px;
}

.arrow {
    cursor: pointer;
    background: transparent;
    border: none;
    position: absolute;
}

.block2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20.5px;
}

.wrap-lilinput {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.wrap2-lilinput {
    display: flex;
    flex-direction: column;
    margin-left: -40px;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    width: 266px;
    height: 119px;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 0px 0px 4px 4px;
    box-sizing: border-box;
    margin-top: -21.5px;
}

p.text-bold {
    margin-left: 15px;
    margin-bottom: 22px;
}

.circle-button {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
    &__minus {
        height: 1px;
        width: 5px;
        background-color: rgba(31, 32, 65, 0.5);
        margin: 0px auto;
        margin-top: 50%;
    }
    &__plus-v {
        position: absolute;
        height: 7.5px;
        width: 1px;
        background-color: rgba(31, 32, 65, 0.5);
        margin: 0px auto;
        margin-left: 3.3px;
        margin-top: -3.3px;
    }
    &__plus-h {
        height: 1px;
        width: 7.5px;
        background-color: rgba(31, 32, 65, 0.5);
        margin: 0px auto;
        margin-top: 50%;
    }
    &_light {
        background-color: rgba(31, 32, 65, 0.1);
    }
    &_border-light {
        border: 1px solid rgba(31, 32, 65, 0.1);
    }
}

.counter-row {
    margin-top: 7px;
    margin-right: 7px;
    width: 92px;
    display: flex;
    justify-content: space-between;
}

.counter-row p {
    margin: 0px auto;
    margin-top: 7px;
}

.dropdown-column {
    display: flex;
    flex-direction: column;
}