@font-face {
	font-family: 'Montserrat';
	src: url('/src/ui_kit/colorsandtype/fonts/Montserrat-Regular.eot');
	src: local('☺'), url('/src/ui_kit/colorsandtype/fonts/Montserrat-Bold.woff') format('woff'), url('fonts/Montserrat-Bold.ttf') format('truetype'), url('fonts/Montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/src/ui_kit/colorsandtype/fonts/Montserrat-Regular.eot');
	src: local('☺'), url('/src/ui_kit/colorsandtype/fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family: Montserrat, sans-serif;
    display: flex;
    margin: 0px auto;
    max-width: 1440px;
}

.circle {
    margin: 30px 0px 0px 30px;
    width: 42px;
    height: 42px;
}

@mixin color-block($opacity: 1, $background:#1F2041) {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-bottom: 20px;
    background:$background;
    opacity: $opacity;
}

.color-blocks {
    margin: 145px 0px 0px 72px;
    width: 282px;
    display: flex;
    flex-direction: column;
    &__item {
        display: flex;
        &_100 {
            @include color-block();
        }
        &_75 {
            @include color-block(0.75);
        }
        &_50 {
            @include color-block(0.5);
        }
        &_25 {
            @include color-block(0.25);
        }
        &_5 {
            @include color-block(0.05);
        }
        &_purple {
            @include color-block(1, #BC9CFF);
        }
        &_green {
            @include color-block(1, #6FCF97);
        }
    }
    &__name {
        font-weight: bold;
        margin: 9px 0px 0px 40px;    
        font-size: 19px;    
        line-height: 28px;
        &_thin {
            font-weight: normal;
        }
    }
}

@mixin h1-font() {
    font-size: 24px;
    line-height: 29px;
}

@mixin h2-font() {
    font-size: 19px;
    line-height: 23px;
}

@mixin h3-font() {
    font-size: 12px;
    line-height: 15px;
}

@mixin body-font() {
    font-size: 14px;
    line-height: 24px;
}

.header-block {
    margin-left: 423px;
    margin-top: 132px;
    color: rgba(31, 32, 65, 0.25);
    &_h1 {
        @include h1-font();
        width: 29px;
        height: 30px;
        margin-bottom: 80px;
    }
    &_h2 {
        @include h2-font();
        width: 27px;
        height: 24px;
        margin-bottom: 74px;
        margin-left: 4px;
    }
    &_h3 {
        @include h3-font();
        width: 17px;
        height: 15px;
        margin-bottom: 46px;
        margin-left: 14px;
    }
    &_body {
        @include body-font();
        width: 37px;
        height: 24px;
    }
}

.title-block {
    font-weight: bold;
    margin-left: 24px;
    margin-top: 132px;
}

.h1-block {
    @include h1-font();
    width: 369px;
    margin-bottom: 51px;
}

.h2-block {
    @include h2-font();
    width: 312px;
    margin-bottom: 51px;
}

.h3-block {
    @include h3-font();
    text-transform: uppercase;
    margin-bottom: 48px;
}

.body-block {
    @include body-font();
    width: 301px;
    opacity: 0.75;
    font-weight: normal;
}