@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("/src/ui_kit/colorsandtype/fonts/Montserrat-Regular.eot");
  src: local("☺"), url("/src/ui_kit/colorsandtype/fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/src/ui_kit/colorsandtype/fonts/Montserrat-Regular.eot");
  src: local("☺"), url("/src/ui_kit/colorsandtype/fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  max-width: 1440px;
}

.circle {
  width: 42px;
  height: 42px;
  margin-left: 30px;
  margin-top: 30px;
}

.blocks {
  margin-left: 72px;
  margin-top: 145px;
}

.color-block {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-bottom: 20px;
  background: #1F2041;
}

.color-block_75 {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-bottom: 20px;
  background: rgba(31, 32, 65, 0.75);
}

.color-block_50 {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-bottom: 20px;
  background: rgba(31, 32, 65, 0.5);
}

.color-block_25 {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-bottom: 20px;
  background: rgba(31, 32, 65, 0.25);
}

.color-block_5 {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-bottom: 20px;
  background: rgba(31, 32, 65, 0.05);
}

.color-block_purple {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-bottom: 20px;
  background: #BC9CFF;
}

.color-block_green {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-bottom: 20px;
  background: #6FCF97;
}

.text-block-margin {
  margin-top: 132px;
  margin-left: 40px;
}

.text1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 28px;
  margin-bottom: 0px;
}

.text2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  margin-top: 0px;
  margin-bottom: 34px;
}

.header-block {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  margin-left: 423px;
  margin-top: 132px;
  color: rgba(31, 32, 65, 0.25);
}

.header-block_h1 {
  width: 29px;
  height: 30px;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 80px;
}

.header-block_h2 {
  width: 27px;
  height: 24px;
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 74px;
  margin-left: 4px;
}

.header-block_h3 {
  width: 17px;
  height: 15px;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 46px;
  margin-left: 14px;
}

.header-block_body {
  width: 37px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
}

.title-block {
  margin-left: 24px;
  margin-top: 132px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
}

.h1-font {
  width: 369px;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 51px;
}

.h2-font {
  width: 312px;
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 51px;
}

.h3-font {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.body-font {
  width: 301px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
/*# sourceMappingURL=colorsandtype.css.map */