@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("../colorsandtype/fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../colorsandtype/fonts/Montserrat-Bold.woff") format("woff"), url("../colorsandtype/fonts/Montserrat-Bold.ttf") format("truetype"), url("../colorsandtype/fonts/Montserrat-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../colorsandtype/fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../colorsandtype/fonts/Montserrat-Regular.woff") format("woff"), url("../colorsandtype/fonts/Montserrat-Regular.ttf") format("truetype"), url("../colorsandtype/fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  background: #E5E5E5;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px auto;
  max-width: 1159px;
  padding: 140px 141px 132px 140px;
  background: #FFFFFF;
}

.logo {
  margin: -110px 0px 0px -110px;
  position: absolute;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.date-dropdown-margin {
  margin-bottom: 40px;
}

.top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px 0px 66px 0px;
}

.column {
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 126px 0px 0px;
}

.input-block {
  margin: 0px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-wrap {
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h3 {
  color: #1f2041;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0px 0px 5px 0px;
}

.item-state {
  font-weight: 400;
  opacity: 0.5;
}

.input {
  width: 320px;
  height: 44px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  opacity: 0.5;
  padding-inline: 15px;
}

.input_dd {
  opacity: 0.75;
}

.input_small {
  width: 150px;
}

.input_medium {
  width: 266px;
}

.input_hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
  opacity: 0.75;
}

.input:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
  opacity: 0.75;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.button-input {
  width: 44px;
  height: 44px;
  position: absolute;
  margin: 0px 0px 0px 277px;
}

.button-input_small {
  margin: 0px 0px 0px 107px;
}

.button-input_medium {
  margin: 0px 0px 0px 222px;
}

.button-input_medium img {
  margin-top: 2px;
}

.dropdowns-row {
  margin: 0px 0px 40px 0px;
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.small-dropdown-block {
  margin: 0px 20px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.medium-dropdown-block {
  margin: 0px 0px 41px 0px;
}

.column-2 {
  max-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 132px 0px 0px;
}

.column-2 h3 {
  margin-bottom: 16px;
}

.checkbox-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 41px;
}

.checkbox-button-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}

/*input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin:0px 10px 0px 0px;
  cursor: pointer;
  &:checked {
    border: 1px solid rgba(188, 156, 255, 1);
  }
}*/
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background-color: transparent;
}

input[type="radio"]:checked + label:before,
input[type="checkbox"]:checked + label:before {
  border: 1px solid #bc9cff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 4px;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 6px;
  top: 6px;
  width: 6px;
  height: 4px;
  border-left: 2px solid #bc9cff;
  border-bottom: 2px solid #bc9cff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1;
}

.checkbox-text {
  max-width: 192px;
  line-height: 18px;
  opacity: 0.5;
}

.checkbox-text_bold {
  font-weight: bold;
  opacity: 0.75;
  max-width: 233px;
}

.radio-buttons {
  max-width: 221px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 37px;
}

.radio-button-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 20px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio-text {
  opacity: 0.5;
}

.radio-text_checked {
  opacity: 0.75;
}

.toggle-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 41px;
}

.toggle-button-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
}

.toggle-button {
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin-right: 10px;
}

.toggle-button_checked {
  border: 1px solid #BC9CFF;
}

.toggle-button__circle {
  width: 12px;
  height: 12px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  margin-left: -1px;
}

.toggle-button__circle_checked {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  margin-left: 16px;
}

.toggle-text {
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
  width: 240px;
}

.like-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.like-button {
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin-right: 10px;
}

.like-button_checked {
  border: 1px solid #BC9CFF;
}

.like {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -4px;
}

.counter {
  font-size: 10px;
  line-height: 12px;
  color: rgba(31, 32, 65, 0.25);
  position: absolute;
  margin: 0px 0px 0px 16px;
}

.counter_checked {
  color: #BC9CFF;
}

.rate-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rate-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  margin-right: 20px;
}

.column-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-3 h3 {
  margin-bottom: 16px;
}

.range-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40.5px;
}

.range-slider .text-wrap {
  max-width: 266px;
  margin-bottom: 4px;
}

.slider {
  width: 266px;
  height: 6px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

.slider__filled {
  width: 88px;
  height: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6FCF97), to(#66D2EA));
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
  margin: -1px 0px 0px 82px;
}

.slider__circle {
  width: 12px;
  height: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6FCF97), to(#66D2EA));
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  margin: -11px 0px 0px 77px;
}

.slider__circle_second {
  margin: -16px 0px 0px 162px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.click-me {
  display: block;
  max-width: 240px;
}

.click-me-button {
  width: 95px;
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: solid 2px #8BA4F9;
  border-radius: 22px;
}

.click-me-button_light {
  opacity: 0.5;
}

.click-me-button_border {
  background: transparent;
}

.click-me-margin {
  margin: 0px 20px 30px 0px;
}

.click-me-button h3 {
  margin: 0px 0px;
}

.button-text-white {
  color: #FFFFFF;
}

.button-text-blue {
  color: #BC9CFF;
}

.button-text-grey {
  color: rgba(31, 32, 65, 0.5);
}

.pay-button {
  width: 320px;
  height: 44px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  position: relative;
}

.pay-button h3 {
  margin: 0px;
}

.pay-button img {
  position: absolute;
  right: 12px;
  top: 13px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.page-numbers__number {
  width: 40px;
  height: 40px;
  border-radius: 22px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  font-weight: normal;
}

.page-numbers__number_current {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #FFFFFF;
  font-weight: bold;
}

.page-numbers__number_arrow {
  background: -webkit-gradient(linear, left top, left bottom, from(#6FCF97), to(#66D2EA));
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.medium-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 266px;
}

.dropdown-column {
  margin: 0px 181px 55px 0px;
}

.row-expanded-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
}

.dropdown-expanded-input {
  border-radius: 4px 4px 0px 0px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-bottom: none;
}

.dropdown-expanded-input:hover {
  border-bottom: none;
}

.dropdown-expanded-list {
  max-width: 266px;
  height: 119px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
}

.dropdown-expanded-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7px 0px 0px 14px;
}

.dropdown-expanded-list__item_textbuttons {
  margin: 19px 0px 0px 10px;
}

.dropdown-expanded-list__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 92px;
  margin-right: 7px;
}

.dropdown-expanded-list__count-button {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 22px;
  color: rgba(31, 32, 65, 0.5);
  font-weight: normal;
}

.dropdown-expanded-list__count-button_inactive {
  border: 1px solid rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.25);
  cursor: default;
}

.dropdown-expanded-list__digit {
  margin-top: 3px;
}

.dropdown-expanded-list_wide {
  max-width: 320px;
  height: 159px;
}

.wide-dropdown-block {
  margin-right: 72px;
}

.dropdown-column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0px;
}

.checkbox-column {
  max-width: 291px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 181px 40px 0px;
}

.expandable-checkbox-list {
  max-width: 266px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.expandable-checkbox-list_closed {
  margin-bottom: 20px;
}

.expandable-checkbox-list h3 {
  margin-top: 15px;
}

.expandable-checkbox-list .button-input {
  position: relative;
  margin: 0;
}

.rich-checkbox-buttons {
  margin-top: 16px;
}

.rich-checkbox-buttons > h3 {
  margin-bottom: 16px;
}

.description-text {
  font-size: 12px;
  line-height: 14px;
}

.description-text-container {
  width: 236px;
}
/*# sourceMappingURL=formelements.css.map */