doctype html
html(lang="en")
  head
    title='Form elements'
    style
      include formelements.css
  body
    .wrapper
      
      .top-row  
        .logo  
          img(src='../colorsandtype/images/logo_1.svg')
        .column
          .input-block
            .text-wrap
              h3 text field
              h3.item-state default
            input(placeholder='Email').input
          .input-block
            .text-wrap
              h3 text field
              h3.item-state hover/focus
            input(value='This is pretty awesome').input.input_hover
          .input-block
            h3 dropdown
            .row
              input(placeholder='Сколько гостей').input.input_dd
              button.button-input
                img(src='./images/expand_more.svg')
          .input-block
            h3 masked text field
            input(placeholder='ДД.ММ.ГГГГ').input.date-dropdown-margin
          .row.date-dropdown-margin
            .small-dropdown-block
              h3 date dropdown
              .row
                input(placeholder='ДД.ММ.ГГГГ').input.input_small.input_dd
                button.button-input.button-input_small
                  img(src='./images/expand_more.svg')
            .small-dropdown-block
              h3 date dropdown
              .row
                input(placeholder='19.08.2019').input.input_small.input_dd
                button.button-input.button-input_small
                  img(src='./images/expand_more.svg')
          .medium-dropdown-block
            h3 filter date dropdown
            .row
              input(placeholder='19 авг - 23 авг').input.input_medium.input_dd
              button.button-input.button-input_medium
                img(src='./images/expand_more.svg')
          .medium-dropdown-block
            h3 subscription text field
            .row
              input(placeholder='Email').input.input_medium
              button.button-input.button-input_medium 
                img(src='./images/arrow_forward.svg')
        .column-2
          .checkbox-buttons
            h3 checkbox buttons
            .checkbox-button-text
              input(type="checkbox" id="cb1")
              label(for="cb1")
              .checkbox-text Можно курить
            .checkbox-button-text
              input(type="checkbox" id="cb2")
              label(for="cb2")
              .checkbox-text Можно с питомцами
            .checkbox-button-text
              input(type="checkbox" id="cb3")
              label(for="cb3")
              .checkbox-text Можно пригласить гостей (до 10 человек)
          .radio-buttons
            h3 radio buttons
            .row
              .radio-button-text
                input(type="radio" id="rb1")
                label(for="rb1")
                .radio-text-checked Мужчина
              .radio-button-text 
                input(type="radio" id="rb2")
                label(for="rb2")
                .radio-text Женщина
          .toggle-buttons 
            h3 toggle
            .toggle-button-text
              button.toggle-button.toggle-button_checked 
                .toggle-button__circle.toggle-button__circle_checked
              .toggle-text Получать спецпредложения
            .toggle-button-text
              button.toggle-button
                .toggle-button__circle
              .toggle-text Получать спецпредложения
          .like-buttons
            h3 like button
            .row
              button.like-button
                .like
                  img(src='./images/favorite_border.svg')
                .counter 2
              button.like-button.like-button_checked
                .like
                  img(src='./images/favorite.svg')
                .counter.counter_checked 12
          .rate-buttons
            h3 rate button
            .row
              button.rate-button
                img(src='./images/star.svg')
                img(src='./images/star.svg')
                img(src='./images/star.svg')
                img(src='./images/star.svg')
                img(src='./images/star_border.svg')
              button.rate-button
                img(src='./images/star.svg')
                img(src='./images/star.svg')
                img(src='./images/star.svg')
                img(src='./images/star.svg')
                img(src='./images/star.svg')
        .column-3
          .range-slider
            .text-wrap
              h3 range slider
              h3.item-state 5 000₽ - 10 000₽
            .slider
              .slider__filled
              .slider__circle
              .slider__circle.slider__circle_second
          .buttons
            h3 buttons
            .click-me
              button.click-me-button.click-me-margin
                h3.button-text-white click me
              button.click-me-button.click-me-button_light.click-me-margin
                h3.button-text-white click me
              button.click-me-button.click-me-button_border.click-me-margin
                h3.button-text-blue click me
              button.click-me-button.click-me-button_border.click-me-button_light.click-me-margin
                h3.button-text-blue click me
              button.button-text-blue.click-me-margin click me
              button.button-text-grey.click-me-margin click me
            button.pay-button
              h3.button-text-white перейти к оплате
              img(src='./images/arrow_forward_white.svg')
          .pagination
            h3 pagination
            .page-numbers 
              button.page-numbers__number.page-numbers__number_current 1
              button.page-numbers__number 2
              button.page-numbers__number 3
              button.page-numbers__number ...
              button.page-numbers__number 15
              button.page-numbers__number.page-numbers__number_arrow
                img(src='./images/arrow_forward_white.svg')
            .toggle-text 1 – 12 из 100+ вариантов аренды
      
      .row
        .dropdown-row
          .dropdown-column
            .medium-dropdown-block
              .medium-text-wrap
                h3 dropdown
                h3.item-state default
              .row
                input(placeholder='2 спальни, 2 кровати...').input.input_medium.input_dd
                button.button-input.button-input_medium
                  img(src='./images/expand_more.svg')
            .medium-dropdown-block
              .medium-text-wrap
                h3 dropdown
                h3.item-state expanded
              .row-expanded-input
                input(placeholder='2 спальни, 2 кровати...').input.input_medium.input_dd.dropdown-expanded-input
                button.button-input.button-input_medium
                  img(src='./images/expand_more.svg')
              .dropdown-expanded-list
                .dropdown-expanded-list__item 
                  h3 спальни
                  .dropdown-expanded-list__counter 
                    button.dropdown-expanded-list__count-button -
                    h3.dropdown-expanded-list__digit 2
                    button.dropdown-expanded-list__count-button +
                .dropdown-expanded-list__item 
                  h3 кровати
                  .dropdown-expanded-list__counter 
                    button.dropdown-expanded-list__count-button -
                    h3.dropdown-expanded-list__digit 2
                    button.dropdown-expanded-list__count-button +
                .dropdown-expanded-list__item 
                  h3 ванные комнаты
                  .dropdown-expanded-list__counter 
                    button.dropdown-expanded-list__count-button.dropdown-expanded-list__count-button_inactive -
                    h3.dropdown-expanded-list__digit 0
                    button.dropdown-expanded-list__count-button +
        .dropdown-column-2
          .wide-dropdown-block
            h3 dropdown
            .row
              input(placeholder='Сколько гостей').input.input_dd.dropdown-expanded-input
              button.button-input
                img(src='./images/expand_more.svg')  
            .dropdown-expanded-list.dropdown-expanded-list_wide
              .dropdown-expanded-list__item 
                h3 взрослые
                .dropdown-expanded-list__counter 
                  button.dropdown-expanded-list__count-button.dropdown-expanded-list__count-button_inactive -
                  h3.dropdown-expanded-list__digit 0
                  button.dropdown-expanded-list__count-button +
              .dropdown-expanded-list__item 
                h3 дети
                .dropdown-expanded-list__counter 
                  button.dropdown-expanded-list__count-button.dropdown-expanded-list__count-button_inactive -
                  h3.dropdown-expanded-list__digit 0
                  button.dropdown-expanded-list__count-button +
              .dropdown-expanded-list__item 
                h3 младенцы
                .dropdown-expanded-list__counter 
                  button.dropdown-expanded-list__count-button.dropdown-expanded-list__count-button_inactive -
                  h3.dropdown-expanded-list__digit 0
                  button.dropdown-expanded-list__count-button +
              .dropdown-expanded-list__item.dropdown-expanded-list__item_textbuttons
                button
                button.button-text-blue применить
        .dropdown-column-2
          .wide-dropdown-block
            h3 dropdown
            .row
              input(placeholder='3 гостя').input.input_dd.dropdown-expanded-input
              button.button-input
                img(src='./images/expand_more.svg')
            .dropdown-expanded-list.dropdown-expanded-list_wide
              .dropdown-expanded-list__item
                h3 взрослые
                .dropdown-expanded-list__counter 
                  button.dropdown-expanded-list__count-button -
                  h3.dropdown-expanded-list__digit 2
                  button.dropdown-expanded-list__count-button +
              .dropdown-expanded-list__item 
                h3 дети
                .dropdown-expanded-list__counter 
                  button.dropdown-expanded-list__count-button -
                  h3.dropdown-expanded-list__digit 1
                  button.dropdown-expanded-list__count-button +
              .dropdown-expanded-list__item 
                h3 младенцы
                .dropdown-expanded-list__counter 
                  button.dropdown-expanded-list__count-button.dropdown-expanded-list__count-button_inactive -
                  h3.dropdown-expanded-list__digit 0
                  button.dropdown-expanded-list__count-button +
              .dropdown-expanded-list__item.dropdown-expanded-list__item_textbuttons
                button.button-text-blue очистить
                button.button-text-blue применить
      
      .row
        .checkbox-column
          .expandable-checkbox-list.expandable-checkbox-list_closed
            h3 expandable checkbox list
            button.button-input
              img(src='./images/expand_more.svg')
          .expandable-checkbox-list
            h3 expandable checkbox list
            button.button-input
              img(src='./images/expand_less.svg')
          .checkbox-button-text
            input(type="checkbox" id="cb4")
            label(for="cb4")
            .checkbox-text Завтрак
          .checkbox-button-text
            input(type="checkbox" id="cb5")
            label(for="cb5")
            .checkbox-text Письменный стол
          .checkbox-button-text
            input(type="checkbox" id="cb6")
            label(for="cb6")
            .checkbox-text Стул для кормления
          .checkbox-button-text
            input(type="checkbox" id="cb7")
            label(for="cb7")
            .checkbox-text Кроватка
          .checkbox-button-text
            input(type="checkbox" id="cb8")
            label(for="cb8")
            .checkbox-text Телевизор
          .checkbox-button-text
            input(type="checkbox" id="cb9")
            label(for="cb9")
            .checkbox-text Шампунь
        .dropdown-column-2
          .rich-checkbox-buttons
            h3 rich checkbox buttons
            .checkbox-button-text
              input(type="checkbox" id="cb10")
              label(for="cb10")
              .column
                .checkbox-text.checkbox-text_bold Широкий коридор
                .description-text-container
                  .description-text Ширина коридоров в номере не менее 91 см.
            .checkbox-button-text
              input(type="checkbox" id="cb11")
              label(for="cb11")
              .column
                .checkbox-text.checkbox-text_bold Помощник для инвалидов
                .description-text-container
                  .description-text На 1 этаже вас встретит специалист и проводит до номера.
        .dropdown-column-2 
          .bullet-list
            h3 bullet list
            ul
              li Нельзя с питомцами
              li Без вечеринок и мероприятий
              li Время прибытия — после 13:00, а выезд до 12:00
      
      .row
        .column
          .row
            span.material-icons insert_emoticon
            .column
              .checkbox-text.checkbox-text_bold Комфорт
              .checkbox-text Шумопоглощающие стены
          .horizontal-divider
          .row
            span.material-icons location_city
            .column
              .checkbox-text.checkbox-text_bold Удобство
              .checkbox-text Окно в каждой из спален
          .horizontal-divider

            