doctype html
html(lang="en")
  head
    title='Form elements'
    style
      include formelements.css
  body
    .wrapper
      .logo  
        img(src='../colorsandtype/images/logo_1.svg')
      .column
        .input-block
          .text-wrap
            .item-name text field
            .item-state default
          input(placeholder='Email')
        .input-block
          .text-wrap
            .item-name text field
            .item-state hover/focus
          input(placeholder='This is pretty awesome')
      