@font-face {
	font-family: 'Montserrat';
	src: url('/src/ui_kit/colorsandtype/fonts/Montserrat-Regular.eot');
	src: local('☺'), url('/src/ui_kit/colorsandtype/fonts/Montserrat-Bold.woff') format('woff'), url('fonts/Montserrat-Bold.ttf') format('truetype'), url('fonts/Montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/src/ui_kit/colorsandtype/fonts/Montserrat-Regular.eot');
	src: local('☺'), url('/src/ui_kit/colorsandtype/fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    background: #E5E5E5;
    margin: 0px auto;
    max-width: 1440px;
}

.circle {
    width: 42px;
    height: 42px;
    margin-left: 30px;
    margin-top: 30px; 
}

.header {
    width: 1440px;
    height: 70px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.wrap .header {
    margin-top: 62px;
}

.wrap2 .header {
    margin-top: 40px;
}

.logo {
    margin-left: 140px;
    margin-top: 15px;
}

.nav {
    font-family: Montserrat, sans-serif;
    display: flex;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    list-style: none;
    &__item {
        margin-left: 20px;
    }
    &__link {
        margin-left: 5px;
        margin-right: 7px;
    }
    &_thin {
        font-weight: normal;
        color: rgba(31, 32, 65, 0.5);
    }
    &_bold {
        font-weight: bold;
        color: rgba(31, 32, 65, 0.75);
    }
}

.wrap .nav {
    margin-left: 225px;
    margin-top: 26px;
}

.wrap2 .nav {
    margin-left: 406px;
    margin-top: 26px;
}

.login-btn {
    width: 87px;
    height: 34px;
    background: transparent;
    color:#BC9CFF;
    border: 2px solid;
    border-color: #BC9CFF;
    border-radius: 22px;
    margin-left: 20px;
}

.register-btn {
    width: 196px;
    height: 34px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: white;
    border: 2px solid;
    border-color: #BC9CFF;
    border-radius: 22px;
    margin-left: 18px;
    margin-top: 18px;
}

.btn-text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin-top: 7px;
}

.wrap .login-btn .register-btn {
    display: flex;
}

.border {
    width: 1px;
    height: 30px;
    background: rgba(31, 32, 65, 0.1);
    margin-top: 20px;
    margin-left: 20px;
}

.cesar {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);
    margin-left: 20px;
    margin-top: 26px;
}

.footer {
    width: 1440px;
    height: 372px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.wrap .footer {
    margin-top: 40px;
}

.logo-foot {
    margin-top: 100px;
    margin-left: 140px;
}

.text {
    width: 260px;
    height: 72px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin-left: 140px;
}

.container .logo-foot .text {
    display: flexbox;
}

.footer-list {
    list-style: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
    &__item {
        margin-bottom: 21px;
    }
    &_head {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
    }
    &__subscribe {
        max-width: 260px;
    }
    &__news {
        line-height: 24px;
    }
}

.container .footer-list {
    margin-top: 104px;
}

.input {
    width: 260px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}
