@font-face {
	font-family: 'Montserrat';
	src: url('../colorsandtype/fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../colorsandtype/fonts/Montserrat-Bold.woff') format('woff'), url('../colorsandtype/fonts/Montserrat-Bold.ttf') format('truetype'), url('../colorsandtype/fonts/Montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../colorsandtype/fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../colorsandtype/fonts/Montserrat-Regular.woff') format('woff'), url('../colorsandtype/fonts/Montserrat-Regular.ttf') format('truetype'), url('../colorsandtype/fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    background: #E5E5E5;
    margin: 0px auto;
    max-width: 1440px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 17px;
}

.circle {
    margin-left: 30px;
    margin-top: 30px; 
}

.header {
    max-width: 1440px;
    height: 70px;
    display: flex;
    align-items:center;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    &__vertical-border {
        width: 1px;
        height: 30px;
        background: rgba(31, 32, 65, 0.1);
        margin: 0px 0px 0px 20px;
    }
    &__username {
        font-size: 14px;
        line-height: 17px;
        color: rgba(31, 32, 65, 0.5);
        margin: 0px 0px 0px 20px;
    }
}

.header-logged-in,
.header-logged-out {
    margin-top: 40px;
}

.logo {
    margin:4px 0px 0px 142px;
}

.nav {
    display: flex;
    font-size: 14px;
    line-height: 17px;
    margin: 0px 0px 0px 265px;
    &__item {
        margin-left: 20px;
        color: rgba(31, 32, 65, 0.5);
        cursor: pointer;
        &_bold {
            font-weight: bold;
            color: rgba(31, 32, 65, 0.75);
        }
    }
    &__link {
        margin: 0px 8px 0px 6px;
        cursor: pointer;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 303px;
    margin: 0px 0px 0px 17px;
}

.button {
    cursor: pointer;
    border: 2px solid;
    border-radius: 22px;
    border-color: #BC9CFF;
    height: 34px;
    &__text {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }
    &_login {
        width: 87px;
        background: transparent;
        color:#BC9CFF;
    }
    &_register {
        width: 196px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        color: white;
    }
}

.nav-logged-in {
    margin:0px 0px 0px 406px;
}

.footer {
    max-width: 1440px;
    height: 372px;
    display: flex;
    align-items:flex-start;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    &__logotext {
        margin: 0px 40px 0px 0px;
    }
    &__logo {
        margin: 0px 0px 13px 0px;
    }
    &__text {
        width: 260px;
        height: 72px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
}

.footer-indent{
    margin: 40px 0px 1px 0px;
}

.container-footer {
    width: 1160px;
    display: flex;
    justify-content:flex-start;
    margin: 100px auto;
}

.footer-list {
    margin: 4px 0px 0px 0px;
    color: rgba(31, 32, 65, 0.5);
    &_navigation {
        margin: 4px 58px 0px 0px;
    }
    &_about {
        margin: 4px 92px 0px 0px;
    }
    &_support {
         margin: 4px 52px 0px 0px;
    }
    &__item {
        margin: 0px 0px 21px 0px;
        &_head {
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1F2041;
            margin: 0px 0px 22px 0px;
        }
        &_head-subscribe {
            margin: 0px 0px 20px 0px;
        }
        &_news {
            line-height: 24px;
            margin: -2px 0px 23px 0px;
        }
    }
    &__subscribe {
        max-width: 260px;
    }
}

.input {
    font-family: Montserrat, sans-serif;
    width: 260px;
    height: 44px;
    background: transparent;
    border: 1px solid rgba(31, 32, 65, 1);
    box-sizing: border-box;
    border-radius: 4px;
    color: rgba(31, 32, 65, 0.25);
    padding-inline: 15px;
    opacity: 0.25;
}

.arrow {
    cursor: pointer;
    background: transparent;
    border: none;
    position: absolute;
    &_input{
        margin: 12px 0px 0px -36px;
    }
}

.copyright-text {
    color: rgba(31, 32, 65, 0.75);
}

.copyright-text-footer {
    margin: 0px 0px 0px 140px;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 112px;
    &_footer {
        margin: 3px 0px 0px 676px;
    }
}

.footer-mobile {
    width: 768px;
    height: 367px;
    background: white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    &__logo {
        margin: 120px 0px 17px 0px;
    }
    &__copyright-text {
        margin: 0px 0px 26px 0px;
    }
}

.footer-mobile-uikit {
    margin: 40px 0px 140px 336px;
}
