doctype html
html(lang="en")
  head
    title=pageTitle
    style
      include styles/colorsandtype.css
  body
    .circle
      img(src="images/logo_1.svg")

    mixin color-block(name, codename="#1F2041")
      .color-blocks__item
        .color-blocks__block(class=attributes.class)
        .color-blocks__name #{name}
          .color-blocks__codename #{codename}
        
    .color-blocks
      +color-block('Dark Shade 100%')
      +color-block('Dark Shade 75%')(class="color-blocks__block_75")
      +color-block('Dark Shade 50%')(class="color-blocks__block_50")
      +color-block('Dark Shade 25%')(class="color-blocks__block_25")
      +color-block('Dark Shade 5%')(class="color-blocks__block_5")
      +color-block('Purple', '#BC9CFF')(class="color-blocks__block_purple")
      +color-block('Green', '#6FCF97')(class="color-blocks__block_green")
    
    .header-blocks
      .header-blocks__item
        .header-blocks__block-h1 H1
        .header-blocks__block-h1.header-blocks__block-h1_bold This one is the sub-section or widget title
      .header-blocks__item
        .header-blocks__block-h2 H2
        .header-blocks__block-h2.header-blocks__block-h2_bold Next one is the item title inside widgets
      .header-blocks__item
        .header-blocks__block-h3 H3
        .header-blocks__block-h3.header-blocks__block-h3_uppercase-bold This is a label or CTA text
      .header-blocks__item
        .header-blocks__block-body Body
        .header-blocks__block-body.header-blocks__block-body_transparent This is the body text which is used for most of the design, like paragraphs, lists, etc.