doctype html
html(lang="en")
  head
    title=pageTitle
    style
      include styles/colorsandtype.css
  body
    .circle
        img(src="images/logo_1.svg")
    .blocks
      .color-block
      .color-block_75
      .color-block_50
      .color-block_25
      .color-block_5
      .color-block_purple
      .color-block_green
    .text-block-margin
        p.text1 Dark Shade 100%
          p.text2 #1F2041
        p.text1 Dark Shade 75%
          p.text2 #1F2041
        p.text1 Dark Shade 50%
          p.text2 #1F2041
        p.text1 Dark Shade 25%
          p.text2 #1F2041
        p.text1 Dark Shade 5%
          p.text2 #1F2041
        p.text1 Purple
          p.text2 #BC9CFF
        p.text1 Green
          p.text2 #6FCF97
    .header-block
      p.header-block_h1 H1
      p.header-block_h2 H2
      p.header-block_h3 H3
      p.header-block_body Body
    .title-block 
      p.h1-font This one is the sub-section or widget title
      p.h2-font Next one is the item title inside widgets
      p.h3-font This is a label or CTA text
      p.body-font This is the body text which is used for most of the design, like paragraphs, lists, etc.