doctype html
html(lang="en")
  head
    title=pageTitle
    style
      include styles/colorsandtype.css
  body
    .circle
      img(src="images/logo_1.svg")
    .color-blocks
      .color-blocks__item
        .color-blocks__item_100
        .color-blocks__name Dark Shade 100%
          .color-blocks__name_thin #1F2041
      .color-blocks__item
        .color-blocks__item_75
        .color-blocks__name Dark Shade 75%
          .color-blocks__name_thin #1F2041
      .color-blocks__item
        .color-blocks__item_50
        .color-blocks__name Dark Shade 50%
          .color-blocks__name_thin #1F2041
      .color-blocks__item
        .color-blocks__item_25
        .color-blocks__name Dark Shade 25%
          .color-blocks__name_thin #1F2041
      .color-blocks__item
        .color-blocks__item_5
        .color-blocks__name Dark Shade 5%
          .color-blocks__name_thin #1F2041
      .color-blocks__item
        .color-blocks__item_purple
        .color-blocks__name Purple
          .color-blocks__name_thin #BC9CFF
      .color-blocks__item
        .color-blocks__item_green
        .color-blocks__name Green
          .color-blocks__name_thin #6FCF97
    
//    .header-block
      .header-block_h1 H1
      .header-block_h2 H2
      .header-block_h3 H3
      .header-block_body Body
    .title-block.title-block__font 
      .h1-block This one is the sub-section or widget title
      .h2-block Next one is the item title inside widgets
      .h3-block This is a label or CTA text
      .body-block This is the body text which is used for most of the design, like paragraphs, lists, etc.